/*
    Theme: NOAH INTERIOR - Soft Wood Theme
*/

:root {
    /* [User Variables] - Soft Brown Palette (Mapped to Standard Vars) */
    --pv-color-primary: #795548;
    /* Material Brown 500 */
    --pv-color-secondary: #A1887F;
    /* Material Brown 300 */
    --pv-color-accent: #8D6E63;
    /* Warm Brown */
    --pv-color-bg: #FCFBF8;
    --pv-color-surface: #F4F1EC;
    --pv-color-text: #4E342E;
    /* Dark Brown Text */

    /* Button Colors */
    --pv-bg-button: var(--pv-color-primary);
    --pv-text-button: #FFFFFF;
}



.pv-header__title {
    font-weight: 300;
}

.pv-header__title strong {
    font-weight: 900;
}